.place__title {
  grid-area: title;
  align-self: flex-end;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #fff;
  margin: 0;
  margin-bottom: -10px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    margin-bottom: -6px;
  }
}
