.photo-grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 14px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1300px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1300px) {
  .photo-grid__container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1500px;
  }
}
