.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  color: #fff;
  max-width: 690px;
  margin: 0;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 100%;
  }
}
