.lead__subtitle {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
  max-width: 640px;
  margin: 0;
  margin-top: 32px;
}

@media screen and (max-width: 730px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}

