.cover {
  display: flex;
  justify-content: center;
  position: relative;
  background: #2a2c2f;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    position: relative;
    left: -48px;
    width: calc(100% + 48px * 2);
  }
}

@media screen and (max-width: 768px) {
  .cover {
    position: relative;
    left: -24px;
    width: calc(100% + 24px * 2);
    padding-top: 88px;
  }
}

@media screen and (max-width: 540px) {
  .cover {
    position: relative;
    left: -16px;
    width: calc(100% + 16px * 2);
    padding-top: 64px;
  }
}
