.place__url-heading {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #aaa;
  margin: 0;
  margin-bottom: 12px;
}
